/* Navbar */

.navbar {
    background-color: #ffffff;
    border-bottom: 1px #009A9E;
    font-weight: 900;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    margin: 0;
    box-shadow: 0px 4px 0px #F0F0F0;
}

.navbar ul {
    list-style-type: none;
    float: right;
}

.navbar ul li {
    float: left;
    font-size: 16px;
}

.navbar li a {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    color: #185a5c;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #c2e7ff;
    color: #000000;
}

.active{
    background-color: #c2e7ff;
}

/* Logo */
.logo {
    font-size: large;
    font-weight: bold;
    color: rgb(0, 0, 0);
    float: left;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;

}

/* Img */
.img-header {
    width: 100%;
    height: 250px;

}

img {
    margin-right: 5px;
    margin-bottom: 3px;
    float: left;
}

.margin img {
    width: 200px;
}

.right-column img {
    padding: 5px;
    width: 75px;
}

.right-column p {
    font-size: 14px;
    
}

/* Time */
time {
    color: #187478;
    font-weight: 600;
}

/* column kiri dan kanan */
.left-column {
    box-sizing: border-box;
    width: 70%;
    padding: 10px;
    color: #192d35;
    float: left;
    background-color: white;
    /* height: 1500px; */
}

.right-column {
    box-sizing: border-box;
    width: 25%;
    color: #192d35;
    float: right;
    padding: 10px;
    background-color: white;
    /* height: 1500px; */
}

.right-column .judulsidebar {
    background-color: #009A9E;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 210px;
    border-radius: 5px;
}

.isisidebar {
    padding: 10px;
    font-size: 14px;
}

.isisidebar img{
    width: 180px;

}

.isisidebar ul {
    line-height: 17px;
    padding-left: 20px;
}

.isisidebar ul li {
    margin-bottom: 5px;
}

.isisidebar ul li a {
    text-decoration: none;
    color: #192d35;
}

.isisidebar ul li a:hover {
    color: #009A9E;
}


/* Main */
html
{
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    font-size: 14px;
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?t=st=1648995032~exp=1648995632~hmac=8359f196df0e6827af9726cf6a03af670e807a81453ec24d8452c904755997d6&w=740");
}   

.body1 {
    width: 1000px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.footer { 
    padding: 15px; 
    background-color: rgb(38, 70, 83); 
    color: rgb(234, 226, 183); 
    text-align: center; 
    width: 1000px;
    margin: auto;
} 

h1 {
    font-family: Poppins;
    font-size: 40px;
    text-align: center;
}

h4{
    margin-top: 10px;
}

.h1_a {
    color: white;
}


.body_galery {
    background-color: whitesmoke;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.clearfix::after { 
    content: ""; 
    clear: both; 
    display: table; 
}

table,
td,
tr {
    font-size: 14px;
}

.margin {
    margin-bottom: 10px;
}

.margin h1{
    text-align: left;
}

.margin p {
    margin-bottom: 10px;
}

.margin ol{
    padding-left: 30px;
}

.margin ul{
    padding-left: 30px;
}

.padding-blog{
    padding: 20px;
}

#grad {
    background-color: white;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
    height: 100%;
}


input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/* Button */

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 125px;
    height: 35px;
    border: 0ch;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_login {
    background-color: #49B6FF;
    color: white;
}

.button_signup {
    background-color: rgb(216, 213, 213);
}

.bt-selanjutnya {
    background-color: #96d5ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
}

a.bt-selanjutnya {
    text-decoration: none;
    color: #185a5c;
}

a:hover.bt-selanjutnya {
    background-color: rgb(38, 70, 83);
    border-style: solid;
    border-color: #96d5ff;
    border-width: 1.5px;
    color: #ffffff;
}




/* screen kecil */
@media screen and (max-width: 1080px){ 

    h1{
        text-align: left;
        font-size: large;
    
    }

    h2{
        font-size: medium;
    }

    .body1{
        width: 100%;
    }

    .img-header{
        position: inherit;
        margin-top: 50px;
        max-width:100%;
    }

    .left-column{
        width: 100%;
        margin: 25px 0 0;
        padding: 5%;
    }
    
    .right-column{
        width: 100%;
        margin: 25px 0 0;
    }

    .navbar{
        width: auto;
    }

    .navbar ul li{
        float: left;
        margin: 0;
        font-size: small;
    }

    .box{
        width: 100%;
        float:inherit;
    }

    .box img{
        width: 60%;
    }


    .isisidebar img{
        width: 30%;
    }

    .isisidebar p{
        width: 90%;
    }

    .footer{
        width: auto;
    }
}



















